.row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.label {
    width: 7rem;
    text-align: left;
    font-size: 1rem;
    color: var(--color-secondary);
}

.input {
    flex: 1;
    height: 2.75rem;
    padding: 0 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
    font-size: 0.95rem;
}
