.linkColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linkTitle {
    color: var(--color-text);
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin: 0 0 28px;
}

.link {
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
    transition: all 0.2s ease-in;
}

.link:hover {
    color: var(--color-primary);
}
