.button {
    color: #fff;
    text-align: center;
    font: normal 400 17px Inter, sans-serif;
    line-height: 117.647%;
    padding: 15px 35px;
    background-color: #35b8be;
    border-radius: 6px;
    border: 1px solid rgba(106, 124, 143, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}
