.button {
    color: var(--color-white);
    text-align: center;
    font:
        normal 400 1.06rem Inter,
        sans-serif;
    line-height: 117.647%;
    padding: 0.94rem 2.19rem;
    background-color: var(--color-blue);
    border-radius: 0.38rem;
    border: 1px solid #6a7c8f33;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.secondary {
    background-color: transparent;
    color: #222;
}
