.cardList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--color-bg);
    margin-bottom: 65px;

    @media (min-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
