.homePage {
    background: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/home-bg.svg');
    background-size: cover;
}
