.notFoundPage {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: none;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 1.5rem;
    max-width: 400px;
}

.button {
    min-width: 180px;
}
