.orderPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 12rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-blue);
    margin-bottom: 2.5rem;
}
