.socialLink {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8b8f9d4d;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.socialLink:hover {
    background-color: var(--color-blue);
    transform: scale(1.1);
}

.iconImage {
    width: 1.13rem;
    height: 1.13rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.socialLink:hover .iconImage {
    opacity: 1;
}
