.socialLink {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8b8f9d4d;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.socialLink:hover {
    background-color: #35b8be78;
    transform: scale(1.1);
}
.iconImage {
    width: 18px;
    height: 18px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.socialLink:hover .iconImage {
    opacity: 1;
}
