.socialLink {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(139, 143, 157, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.socialLink:hover {
    background-color: rgba(53, 184, 190, 0.47);
    transform: scale(1.1);
}
.iconImage {
    width: 18px;
    height: 18px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.socialLink:hover .iconImage {
    opacity: 1;
}
