.container {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 0 7.5rem;
}

.content {
    display: flex;
}

.textContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    margin-bottom: 1.69rem;
    font:
        normal 400 3.5rem Inter,
        sans-serif;
    color: var(--color-text);
    letter-spacing: 0.11rem;
    max-width: 37.875rem;
}

.ratingScore,
.ctaLink {
    color: var(--color-primary);
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    color: var(--color-secondary);
    font:
        normal 400 1.12rem Inter,
        sans-serif;
    line-height: 134%;
    letter-spacing: 0.02rem;
    margin-bottom: 3rem;
    max-width: 34rem;
}

.actions {
    margin-bottom: 2rem;
}

.trustpilotIcon {
    width: 6.88rem;
    height: auto;
}

.rating {
    margin-top: 0.6rem;
    font-size: 1rem;
}

.ratingLink {
    color: inherit;
    cursor: pointer;
    transition: color 0.2s ease;
}

.visual {
    margin: 6.25rem 0 8.75rem;
}

.heroVisual {
    width: 100%;
    height: auto;
    object-fit: contain;
}
