.logoutButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.logoutButton:hover {
    color: var(--color-blue);
}
