.container {
    width: 100%;
    padding: 1.56rem 7.5rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandLogo {
    width: 2.5rem;
    height: auto;
    transition: transform 0.3s ease;
}

.brandLogo:hover {
    transform: scale(1.15);
}

.navigation {
    display: flex;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    color: var(--color-text);
    color: var(--color-text);
    font:
        normal 400 0.94rem Inter,
        sans-serif;
    line-height: 1.33;
    cursor: default;
    transition: color 0.2s ease;
}

.menuItem:hover {
    color: var(--color-primary);
}

.menuLink {
    color: inherit;
    text-decoration: none;
}

.menuLink.active {
    color: var(--color-primary);
}

.utilities {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
