.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltipText {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 5px 10px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    max-width: 165px;
    text-align: center;
    border-radius: 4px;
    transition: opacity 0.3s;
    font-size: 14px;
    line-height: 1.2;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
