@import 'normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

:root {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        sans-serif;

    line-height: 1.5;
    font-weight: 400;
    --max-width: 90rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root.light {
    --color-bg: #fff;
    --color-bg-secondary: #f5fbfc;
    --color-text: #08090a;
    --color-primary: #35b8be;
    --color-secondary: #546285;
}

:root.dark {
    --color-bg: #050816;
    --color-bg-secondary: #101827;
    --color-text: #e5e7eb;
    --color-primary: #35b8be;
    --color-secondary: #9ca3af;
}

body {
    margin: 0;
    min-width: 20rem;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

.homePage-bg,
.footer-bg,
.menu-bg {
    background-size: cover;
    background-position: center;
}

:root.dark .homePage-bg,
:root.dark .footer-bg,
:root.dark .menu-bg {
    background-image: none;
}

:root.light .homePage-bg {
    background-image: url('/src/assets/images/home-bg.svg');
}

:root.light .footer-bg {
    background-image: url('/src/assets/images/footer-bg.svg');
}

:root.light .menu-bg {
    background-image: url('/src/assets/images/menu-bg.svg');
}
